@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900;&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.container {
  background: #f0f3fd;
  position: relative;
  color: #333;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 10%;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 26px;
  color: #333;
  font-weight: 600;
  margin-right: auto;
}

.navbar a {
  font-size: 18px;
  color: #333;
  font-weight: 500;
  margin-right: 35px;
  transition: 0.5s;
}

.navbar a:hover,
.navbar a.active {
  color: #f1a10b;
}

.toggle-icon {
  display: flex;
  font-size: 24px;
  cursor: pointer;
}

.toggle-icon.disabled {
  pointer-events: none;
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 60px 10% 0;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: 56px;
  line-height: 1.2;
}

.home-content h3 {
  font-size: 32px;
}

.home-content h3 span {
  color: #f1a10b;
}

.home-content p {
  font-size: 16px;
  margin: 15px 0;
}

.home-content img.tools {
  width: 70px;
  height: 50px;
  padding: 5px;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #f1a10b;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 25px;
  color: #f1a10b;
  margin: 5px 15px 25px 0;
  transition: 0.5s;
}

.social-media a:hover {
  color: #f0f3fd;
  background: #f1a10b;
}

.btn {
  display: inline-block;
  padding: 11px 32px;
  background: #f1a10b;
  border: 2px solid #f1a10b;
  border-radius: 40px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  color: #f0f3fd;
  letter-spacing: 1px;
  font-weight: 600;
}

.btn:hover {
  color: #f1a10b;
  background: transparent;
}

.home-img img {
  position: absolute;
  bottom: 0;
  right: 100px;
  width: 35%;
  pointer-events: none;
}

#dark-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #15202b;
  color: #f0f3fd;
}

#dark-container .logo,
#dark-container .navbar a {
  color: #f0f3fd;
}

#dark-container .navbar a:hover,
#dark-container .navbar a.active {
  color: #f1a10b;
}

#container,
#dark-container {
  clip-path: circle(0% at 0 0);
  transition-delay: 1.5s;
}

.active#container,
.active#dark-container {
  z-index: 1;
  clip-path: circle(150% at 0 0);
  transition: 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-delay: 0s;
}

.about {
  display: flex;
  align-items: center;
  padding: 60px 10% 0;
}

.about-content {
  max-width: 600px;
}

.about-content h1 {
  font-size: 56px;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 32px;
  color: #f1a10b;
}

.about-content span {
  color: #f1a10b;
}

.about-content p {
  font-size: 16px;
  margin: 20px 0;
}

.about-img img {
  position: absolute;
  bottom: 16rem;
  right: 8rem;
  width: 25%;
  pointer-events: none;
  border-radius: 80% 50% 70% 50%;
  background-color: #f1a10b;
  padding-top: 1rem;
}

.about-content img.tools {
  width: 70px;
  height: 50px;
  padding: 5px;
}

.skills {
  max-width: 450px;
}
